<?xml version="1.0" standalone="yes"?>
<SVAW>
  <CONFIG>
    <Key>TimeOut</Key>
    <Text>Thời gian chuyển màn hình (Nhập 0 nếu không cho chuyển)</Text>
    <Value>300000</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>LoadedTime</Key>
    <Text>NodeOnline</Text>
    <Value>2019/09/05 15:47:52</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay0</Key>
    <Text>Màn hình Giám sát trạng thái vận hành máy</Text>
    <Value>60000</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay1</Key>
    <Text>Màn hình hiệu suất tổng thể các loại máy</Text>
    <Value>60000</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>3</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>4</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>5</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>6</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1007</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1008</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1009</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1010</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1011</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1012</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
  <CONFIG>
    <Key>TimeDelay2</Key>
    <Text>1013</Text>
    <Value>60</Value>
    <Enable>true</Enable>
  </CONFIG>
</SVAW>