<footer class="main-footer">
    <div class="pull-right">
        KANGAROO GROUP ©2021 All Rights Reserved.
        <!-- Powered by&nbsp;<a href="https://avani.vn"target="_blank"><img src="/assets/img/avani_logo_small.png" height="15"></a> -->

    </div>
    <div class="clearfix"></div>
</footer>
