<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="ConStr" connectionString="data source=.;initial catalog=avAndon;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.SVAWConStr" connectionString="data source=.;initial catalog=avSVAW;persist security info=True;user id=sa;password=159753;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.SVAWConStr1" connectionString="Data Source=data source=.;initial catalog=avSVAW;persist security info=True;user id=sa;password=159753" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.SVAWConStr2" connectionString="Data Source=data source=.;initial catalog=avSVAW;persist security info=True;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.NextWayConnectionString" connectionString="Data Source=.;Initial Catalog=NextWay;Persist Security Info=True;User ID=sa;Password=admin@123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.NextWayConnectionString1" connectionString="Data Source=.;Initial Catalog=NextWay;Persist Security Info=True;User ID=sa;Password=admin@123" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.NextWayConnectionString2" connectionString="Data Source=.;Initial Catalog=NextWay;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.avSVAWConnectionString" connectionString="Data Source=.;Initial Catalog=avAndonAriston;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.SVAW_BKConnectionString" connectionString="Data Source=.;Initial Catalog=SVAW_BK;Persist Security Info=True;User ID=sa;Password=159753;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.avSVAWConnectionString1" connectionString="Data Source=.;Initial Catalog=avSVAW;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.avAndonAristonConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=avAndonAriston;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.avAndonAristonConnectionString1" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=avAndonAriston;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.avAndonConnectionString" connectionString="Data Source=DESKTOP-E9CFLMM\SQLEXPRESS;Initial Catalog=avAndon;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.Avani_AndonConnectionString" connectionString="Data Source=DESKTOP-E9CFLMM\SQLEXPRESS;Initial Catalog=Avani.Andon;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.Avani_AndonConnectionString1" connectionString="Data Source=.\SQL_EN;Initial Catalog=Avani.Andon;Persist Security Info=True;User ID=sa;Password=admin@123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.Avani_AndonConnectionString2" connectionString="Data Source=192.168.1.254;Initial Catalog=Avani.Andon;Persist Security Info=True;User ID=sa;Password=admin@123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.Avani_AndonConnectionString3" connectionString="Data Source=DESKTOP-T363Q3B\SQLEXPRESS;Initial Catalog=Avani.Andon;Persist Security Info=True;User ID=sa;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.Avani_AndonConnectionString4" connectionString="Data Source=DESKTOP-G3LMUCK\SQLEXPRESS;Initial Catalog=Avani.Andon;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.Avani_AndonConnectionString5" connectionString="Data Source=ADMIN-PC\SQLEXPRESS;Initial Catalog=Avani.Andon;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
    <add name="Model.Properties.Settings.Andon_MES_KGRConnectionString" connectionString="Data Source=DESKTOP-H4N9TFU\SQLEXPRESS;Initial Catalog=Avani.Andon;Integrated Security=True" providerName="System.Data.SqlClient"/>
	  <add name="Model.Properties.Settings.Avani_AndonConnectionString7" connectionString="Data Source=DESKTOP-UT3VJ3N\SQLEXPRESS;Initial Catalog=Avani.Andon;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework"/>
    <add name="Model.Properties.Settings.MES_KGRConnectionString" connectionString="Data Source=localhost,1444\MES;Initial Catalog=MES.KGR;Persist Security Info=True;User ID=sa;Password=123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
